html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

.btn {
    position: absolute;
}

.btn-left {
    left: 8.5%;
}

.btn-right {
    right: 8.5%;
}

#wrapper {
    margin: 0 auto;
    position: relative;
}
