html
    head
        title Пах..инатор!
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // todo: critical css here, make load spinner

        link(rel="manifest", href="/manifest.json")
    body
        script
            include js/_cache.js

        style
            include styles/styles.css

        script
            include js/_predefined.js
            include js/_utils.js

        include views/_btn-left

        div#wrapper

        script
            include js/_main.js
